body{
    margin: 0px ;
    font-family: "Comic Neue", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    }
    .top{
        background-color:#383b39;
        font-size: 1.5rem;
        padding: 10px;
        position: fixed;
        overflow: hidden;
        width:90vw;
        z-index: 99;
        border-radius: 50px;
        margin-left: 100px;
        margin-top: 20px;
    }


    html{
        scroll-behavior: smooth ;
    }
    .btnn{
        position: relative;
        padding: 10px 15px 10px 15px;
        color: #f0f4f1;
    }
    .nk{
display: flex;
flex-direction: column;
gap: 0px;
margin: 0;
margin-left: 20px;
padding: 0;
    }
    .nk >h2, .nk>h1{

margin: 0;
padding: 0;
    }

    .btnn:hover{
        color: #565d56;
        background-color: #f0f4f1;
    }
    h1{
        color:  #565d56;
    }
    h3,p,li,ul{
        list-style: none;
        display: inline;
        padding: 10px;
        color: white;
    }
        
    
    ul{
        margin-left: 50%;
        
    
    
    }
    .left{
        display: inline-block;
        width: 50%;
        position: relative
    }
    
    h1{
        padding: 20px;
        padding-right: 25px;
    }
    p{
        padding-right:5px;
        display: inline;
       
    }
    h2{
        padding: 20px;
        padding-right: 25px;
        color:black;
    }
    button{
        margin-left: 25px;
        padding: 15px;
        background-color: #383b39;
        color: black;
        border-radius: 20px;
        
        
    }
    .btn{
        color: white;
    }
    .image{
        height: 250px;
        width: 250px;
       transition: 1s ease;
       position: relative;
    top: 50px;
        
        
    }
    #mc{

        
        color:#f0f4f1;
        background: none;
        
    }
    .image:hover{
        
        
        cursor: pointer;
    }
    .wrap{
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        top: 200px;
        padding: 30px;
        width: 82%; 
        border-radius: 50px;
        margin-left: 105px;
        box-shadow: 0px 0px 20px #565d56;
                background:linear-gradient(#f0f4f1,#c5cdc7,#f0f4f1);
    }
    img{
        height: 350px;
        width: 350px;
        border-radius: 50%;
        position: relative;
        right: 100px;
        bottom: 100px;
       
    }
    .box {
        width: 100px;
        height: 100px;
        background-color: #007bff;
        position: absolute;
        top: 50%;
        left: 50%;
        
      }
      
      
    .ul, .li:hover{
        color:black;
        cursor: pointer;
    }
    .main{
        background:linear-gradient(#f0f4f1,#c5cdc7,#f0f4f1);
    
        height: 100vh;
    }
    .bot-li{
        margin-left: 0px;
        position: relative;
      text-decoration: none;
       
    }
    a{
        
        text-decoration: none;
        color: #f0f4f1;
    
    }
    a:hover{
        color: #565d56;
    }
    
   
 
body.dark-mode {
    background: #2e2e2e; 
    color: #f0f4f1; 
}
.main.dark-mode {
    background:linear-gradient(black,black);
    
    
}
.left.dark-mode{
background-color: white;
}

.nk.dark-mode {
    color: #c5cdc7;
    
}
.li.top.dark-mode{
    color: black;
}
.wrap.top.dark-mode{
    box-shadow: #c5cdc7;
    background:linear-gradient(#4f4f4f,#383b39,#4f4f4f);
    
}

.button.dark-mode {
    background-color: #4f4f4f; /* Dark button */
    color: #f0f4f1; /* Light text on buttons */
}

    
@media (max-width:480px){
    .wrap{
        flex-direction: column-reverse;
    }
    .wrap{
        position: relative;
        right: 90px;
        top: 20px;
        
        
    }
    .right .image >img{
        height: 200px;
        width: 200px;
        border-radius: 50px;
        position: relative;
        bottom: 50px;
        left: -10px;

    }

    .top{
        width: 80vw;
        position: relative;
        right: 50px;
        font-size: 20px;
    
        
    }
    .top>ul{
    position: relative;
    right: 10px;
    margin-left: 0px;
    font-size: 13px;
    }
    
    .top >h3{
        display: none;
    }

    .left{
        width: 100%;
        position: relative;
    }
}   
    
    
    
        