body{
    margin: 0px ;
    font-family: "Comic Neue", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    
  
    
    }
    .top{
        background-color: #383b39;
        font-size: 1.5rem;
        padding: 10px;
        position: fixed;
        overflow: hidden;
        width:90vw;
        z-index: 99;
        border-radius: 50px;
        margin-left: 70px;
        margin-top: 20px;
    }
    .top >h3{
        color: #f0f4f1;
    }
    .name{
        color: transparent;
        position: relative;
        bottom: 50px;
    }
     .name > span{
        background: linear-gradient(120deg,red,30%,yellow);
        --webkit-backgroundclip:text;
        background-clip:text;
    }
    html{
        scroll-behavior: smooth ;
    }
    .btnn{
        position: relative;
        padding: 10px 15px 10px 15px;
        color: #f0f4f1;
    }
    .nk{
display: flex;
flex-direction: column;
gap: 0px;
margin: 0;
margin-left: 20px;
padding: 0;
    }
    .nk >h2, .nk>h1{

margin: 0;
padding: 0;
    }

    .btnn:hover{
        color: #565d56;
        background-color: #f0f4f1;
    
    }
    h1{
        color:  #565d56;
    }
    h3,p,li,ul{
        list-style: none;
        display: inline;
        padding: 10px;
        color: white;
    }
        
    
    ul{
        margin-left: 50%;
        
    
    
    }
    .left{
        display: inline-block;
        width: 50%;
        position: relative
    }
    .wel{
        padding: 20px;
        padding-right: 25px;
        color: black;
    }
    h1{
        padding: 20px;
        padding-right: 25px;
    }
    p{
        padding-right:5px;
        display: inline;
       
    }
    h2{
        padding: 20px;
        padding-right: 25px;
        color:black;
    }
    button{
        margin-left: 25px;
        padding: 15px;
        background-color: #383b39;
        color: black;
        border-radius: 20px;
        position: relative;
        isolation: isolate;
        
        
    }
    .right{
        transform:translateX(-500%) ;
        opacity: 0;
        animation: slideOut 2s forwards;
    }
    @keyframes slideOut{
        to{
            transform: translateX(0);
            opacity: 1;
        }
    }
    
    .btn{
        color: white;
    }
    .image{
        height: 250px;
        width: 250px;
       transition: 1s ease;
       position: relative;
    top: 50px;
        
        
    }
    
    #mc i:hover{
        color:#565d56;
        cursor: pointer;
        transform: rotate(360deg);
        transition: 1.5s;

        
    }
   
    
    .wrap{
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        top: 100px;
        padding: 30px;
        width: 82%; 
        border-radius: 50px;
        margin-left: 105px;
        box-shadow: 0px 0px 20px #565d56;
    }
    img{
        height: 350px;
        width: 350px;
        border-radius: 50%;
        position: relative;
        right: 100px;
        bottom: 100px;
       
    }
    .box {
        width: 100px;
        height: 100px;
        background-color: #007bff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      
    .ul, .li:hover{
        color:black;
        cursor: pointer;
    }
    .main{
        background:linear-gradient(#f0f4f1,#c5cdc7,#f0f4f1);
        height: 100vh;
    }
    .bottom{
       
        display: inline-block;
        position: relative;
       left: 30% 
     
    }
    .bot-li{
        margin-left: 0px;
        position: relative;
      text-decoration: none;
       
    }
    a{
        
        text-decoration: none;
        color: #f0f4f1;
    
    }
    .bot-lis{
        color: #565d56;
    }
    a:hover{
        color: #565d56;
    }

    /* DARK AND LIGHT MODE */
.main.dark-mode .wrap{
    background-color: #383b39;
    }
    .main.dark-mode{
        background: linear-gradient(black,black);
    }
    .main.dark-mode .top ul li >a{
        color: black;

    }
    .main.dark-mode .top ul li >a:hover{
        color: #565d56;

    }
    .main.dark-mode .top >h3{
        color: black;

    }
    .main.dark-mode .top{
        background-color: white;

    }
    .main.dark-mode .a{
        color:  black;
    }
    .main.dark-mode h1{
        color: #f0f4f1;
    }
    .main.dark-mode button {
    background-color:#c5cdc7;
    color: #383b39;
    }
    .main.dark-mode,.li-res,.h3-res,.wel{
      color: #383b39;
    }
    .main.main.dark-mode h2{
        color: white;
    }
    .main.dark-mode .bot-cen{
        background:none;
    }
    .main.dark-mode .bot-lis{
        color: white;
    }
    .main.dark-mode #mc{
        color: black;
    }
    .main.main.dark-mode #mc:hover{
        color: #565d56;

    }
    .dark-mode footer{
        color: white;
    }
    footer{
        color: #565d56;
        position: relative;
        bottom: 30px;
    }
    .fade-in{
        opacity: 0;
        transform: translateY(20px);
        animation:fade 1s forwards;
    }
    @keyframes fade-in {
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }
 
    
@media (max-width:480px){
    .wrap{
        flex-direction: column-reverse;
    }
    
    .right .image >img{
        height: 300px;
        width: 300px;
        border-radius: 50px;
        position: relative;
       
        
        
    }
    .top{
        width: 100vw;
        padding: 20px ;
        padding-bottom: 20px;
    }
    
    .top >h3{
        display: none;
    }

    .left{
        width: 100%;
        position: relative;
    }

    .wrap{
        position: relative;
        right: 90px;
        top: 20px;
        
        
        
    }
    footer{
        display: none;
    }
    
    .right .image >img{
        height: 200px;
        width: 200px;
        border-radius: 50px;
        position: relative;
        bottom: 50px;
        left: -10px;

    }

    .top{
        width: 80vw;
        position: relative;
        right: 25px;
        font-size: 20px;
    
        
    }
    .top>ul{
    position: relative;
    right: 10px;
    margin-left: 0px;
    font-size: 13px;

    }
    
    .top >h3{
        display: none;
    }

    .left{
        width: 100%;
        position: relative;
    }
}
    
    
    
        